body {
  background-image: url("./Img/pexels-ian-beckley-2440024.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Hide scrollbar for Chrome, Safari and Opera */
ul::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
ul {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
